body {
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 500px;
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#titleHeader {
  background: rgb(172, 93, 7);
  background: linear-gradient(
    90deg,
    rgba(172, 93, 7, 1) 0%,
    rgba(126, 59, 54, 1) 82%,
    rgba(209, 107, 56, 1) 96%
  );
}
